/*-----------------------------------
    COLORS
-----------------------------------*/
$color-primary: #C3AECD;
$primary: $color-primary;
$color-secondary: #00DFBE;
$secondary: $color-secondary;
$color-tertiary: #6138F6;
$tertiary: $color-tertiary;
$color-quaternary: #28326B;
$quaternary: $color-quaternary;

/*-----------------------------------
    FONTS
-----------------------------------*/
$font-primary: 'Roboto', sans-serif;
$font-normal: 400;
$font-bold: 700;
$font-lighter: 300;